@import "./styles/functions.scss";
$mainBgColor: #0e1323;

* {
  box-sizing: border-box;
}

.main-container {
  background-color: $mainBgColor;
  display: grid;
  place-items: center;
  min-height: 100vh;

  @media (max-width: breakpoint("md")) {
    padding: 81px 24px;
  }
  @media (min-width: breakpoint("md")) and (max-width: breakpoint("lg")) {
    padding: 81px 24px;
  }

  @media (min-width: breakpoint("lg")) {
    padding: 81px 112px;
  }
}

.main-grid {
  display: grid;
  grid-gap: 33px;
  grid-template-columns: repeat(12, 1fr);

  @media (max-width: breakpoint("md")) {
    grid-template-columns: repeat(1, 1fr);
  }

  .best-sales {
    grid-column: span 2;
    @media (max-width: breakpoint("md")) {
      grid-column: span 1;
    }
    @media (min-width: breakpoint("md")) and (max-width: breakpoint("xxl")) {
      grid-column: span 12;
    }
  }

  .products-container {
    grid-column: span 10;
    @media (max-width: breakpoint("md")) {
      grid-column: span 1;
    }
    @media (min-width: breakpoint("md")) and (max-width: breakpoint("xxl")) {
      grid-column: span 12;
    }
  }
}
